@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;700&display=swap');

:root {
  --color-one: #1F4690;
  --color-two: #3A5BA0;
  --color-three: #FFA500;
  --color-four: #FFE5B4;
}

body {
  font-family: 'Roboto Mono', monospace;
}